<div class="container">
  <h1>Restaurants</h1>
  <%= link_to "Add Restaurant", new_restaurant_path  %>
  <% @restaurants.each do |restaurant| %>
    <div class="card">
      <h4><%= link_to restaurant.name, restaurant_path(restaurant) %></h4>
      <p><%= restaurant.address %></p>
      <p><%= 'â­ï¸' * restaurant.rating %></p>
    </div>
  <% end %>
</div>